name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: taskdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres -d taskdb"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        working-directory: backend
        run: |
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Set env for tests
        working-directory: backend
        run: |
          echo "DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/taskdb" >> $GITHUB_ENV

      - name: Run tests
        working-directory: backend
        run: |
          python -m pytest -q
